.terminal
{
    width: 28rem;
    height: 15.75rem;
    padding: 0.75rem;

    border-radius: 0.75rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.1);
}

.dock
{
    display: flex;
}

.circle
{
    width: 1rem;
    height: 1rem;
    margin: 0 0.25rem;

    border-radius: 50%;
    background-color: var(--color-black);
}

.body
{
    font-size: 1.25rem;

    overflow-y: auto;

    height: 14.25rem;
    margin-top: 0.5rem;

    white-space: pre-wrap;
    word-break: break-all;
}

.caret
{
    display: inline-block;

    width: 0.75rem;
    height: 1.5rem;

    vertical-align: sub;

    background-color: var(--color-black);
}

@media (max-width: 640px)
{
    .terminal
    {
        width: 80vw;
        height: 12rem;
    }

    .body
    {
        font-size: 0.875rem;
    
        height: 10.5rem;
    }

    .caret
    {
        width: 0.625rem;
        height: 1.15rem;
    }
}
