.page
{
    display: grid;

    min-height: 100vh;

    gap: 0.5rem;
    place-content: center;
    justify-items: center;

    @supports (-webkit-touch-callout: none)
    {
        min-height: -webkit-fill-available;
    }

    img
    {
        width: 12rem;
    }
}

.message
{
    font-size: 1.5rem;
    
    @media (max-width: 640px)
    {
        font-size: 1rem;
    }
}
