.page
{
    display: grid;

    min-height: 100vh;

    gap: 0.5rem;
    place-content: center;
    justify-items: center;

    @supports (-webkit-touch-callout: none)
    {
        min-height: -webkit-fill-available;
    }
}

.links
{
    font-size: 1.25rem;

    @media (max-width: 640px)
    {
        font-size: 1rem;
    }
    
    span
    {
        margin: 0 0.5rem;

        color: var(--color-green);

        &::after {
            content: "·";
        }
    }
}
